h1{
    font-family: "Roboto Mono";
    color: blue;
    background-color: yellow;
    text-align: center;
    border: 2px solid black;
}

h2{
    text-align: center;
}

.artikel{
    background-color: rgb(175, 175, 175);
    margin: 17px;
    padding: 20px;
    border: 1px solid black;
}

body{
    background-image: url(/img/showcase.jpg);
}

.sidfot{
    background-image: url(/img/logo-html-css-js.png);
    background-repeat: no-repeat;
    height: 250px;
    margin-left: 200px; 
}